// typography
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// brand colors
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// typography colors
$text-color: #383838;
$link-color: #2878F3;
$selection-color: #D4D4D4; // visible when highlighting text

// header colors
$header-link-color: #383838;

// feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// header description box
$header-desc-background-color: #2878F3; 
$header-desc-text-color: #FFF;